.git
.gitignore
.dockerignore
.env
.env.local
.DS_Store
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.angular
**/dist
**/coverage
**/*.log
**/packages
**/.nuget
README.md
LICENSE
.editorconfig
.prettierrc
docker-compose*.yml
Dockerfile
.gitlab-ci.yml
.github
azure-pipelines.yml
terraform
kubernetes
helm
docs
scripts
